<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/main"></ion-back-button>
    </ion-buttons>
    <ion-title>My News</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content >
  <div *ngIf="noNews">
    You have no news on your list.
  </div>
  <ion-list>    
        <ion-item-sliding>
          <ion-item *ngFor="let a of newsList">
              <ion-thumbnail >
                <img src="{{ a.newsImage }}" />
              </ion-thumbnail>
              <ion-card>
                  <ion-card-header>
                    <ion-card-subtitle>{{ a.newsTitle }}</ion-card-subtitle>
                  </ion-card-header>
                </ion-card>
          </ion-item>

          <ion-item-options>
            <ion-item-option color="primary">
              <ion-icon slot="icon-only" name="eye" size="large"></ion-icon>
            </ion-item-option>
            <ion-item-option color="tertiary" (click)="deleteNews(a.id)">
              <ion-icon slot="icon-only" name="md-trash" size="large"></ion-icon>
            </ion-item-option>
          </ion-item-options>
        </ion-item-sliding>
  </ion-list>

</ion-content>
