ion-button.signInBtn{
    --background: linear-gradient(45deg,var(--ion-color-secondary), var(--ion-color-tertiary));
    margin-top: 12px;
    --color: #fff;
}
a.signupText{
    text-align: center;
    font-size: 18px;
    display: block;
    float: left;
    margin-top: 5px;
    margin-bottom: 15px;
    padding-left: 5px;
    text-decoration: none;
    color: var(--ion-color-primary);
}
ion-content{
    --background: #f8f8f8;
}
.signupContainer{
    margin-top: 2vh;
}
ion-item{
    --background: none;
}
ion-label{
    font-weight: 400;
}
.passwordIcon{
    font-size: 28px;
    position: relative;
    top: 12px;
    opacity: .6;
}
.confirmPasswordIcon{
    font-size: 28px;
    position: relative;
    top: 12px;
    opacity: .6;
}
.terms{
    margin-top: 10px;
}
ion-avatar{
    animation: rotating 2s linear infinite;
    transition: all;
}
@keyframes rotating{
    100% { transform: rotate(360deg);}
}
@-webkit-keyframes rotating{
    100% { transform: rotate(360deg);}
}
@-moz-keyframes rotating{
    100% { transform: rotate(360deg);}
}
