<ion-header>
    <ion-toolbar color="tertiary">
        <ion-buttons slot="start">
            <ion-menu-button color="primary"></ion-menu-button>
            <!-- <ion-badge mode="ios">1</ion-badge> -->
        </ion-buttons>
        <ion-buttons slot="end">
          <ion-icon size="large"  
          slot="start" name="md-contact" color="primary" (click)="userProfile($event)"></ion-icon>
      </ion-buttons>

      <ion-searchbar animated debounce mode="ios" (ionInput)="searchNews($event)"></ion-searchbar>
      </ion-toolbar>
</ion-header>

<ion-content>
    <ion-refresher slot="fixed" (ionRefresh)="refresh($event)">
      <ion-refresher-content
      pullingIcon="arrow-dropdown"
      refreshingSpinner="bubbles">
    </ion-refresher-content>
    </ion-refresher>

  <ion-slides pager="false" [options]="slideOpt">
    <ion-slide>
        <ion-img src="../../assets/bg2.jpg"></ion-img>
    </ion-slide>
      <ion-slide>
          <ion-img src="../../assets/bg3.jpg"></ion-img>
      </ion-slide>
      <ion-slide>
        <ion-img src="../../assets/bg4.jpg"></ion-img>
    </ion-slide>
  </ion-slides>

  <ion-tab-bar >

      <ion-tab-button *ngFor="let list of tabCategory" class="animated fadeInRightBig delay-1s" [routerLink]='[list.link]'>
        <h4>{{ list.title }}</h4>
      </ion-tab-button>
  
  </ion-tab-bar>
  <!-- <ion-item>
      <ion-label>Port</ion-label>
      <ionic-selectable
        [(ngModel)]="port"
        [items]="ports"
        itemValueField="id"
        itemTextField="name"
        [canSearch]="true"
        (onChange)="portChange($event)">
      </ionic-selectable>
  </ion-item> -->

  <ion-list *ngIf="allNews.length != 0">
    <div *ngFor="let news of allNews" class="news-div">
      <ion-card *ngFor="let p of news.articles">
        <ion-img src="{{ p.urlToImage }}"></ion-img>     
          <ion-card-header>
            <ion-card-subtitle>{{ p.author }}</ion-card-subtitle>
            <ion-card-title>{{ p.title }}</ion-card-title>
          </ion-card-header>
        
          <ion-card-content>
            {{ p.description }}
            <ion-label class="usersAction"> 
                <ion-icon slot="start" name="add" class="addIcon" (click)="addNews(p.url, p.title, p.urlToImage)"></ion-icon>
                <ion-button (click)="readNews(p.url)" size="large" fill="clear" mode="ios">
                  View
                </ion-button>
            </ion-label>
          </ion-card-content>

         
        </ion-card>
    </div>
    
  </ion-list>
  
  <div *ngIf="allNews.length == 0">
    <ion-list>
        <ion-card class="custom-skeleton">
            <ion-thumbnail>
                <ion-skeleton-text animated></ion-skeleton-text>
              </ion-thumbnail>
                 
              <ion-card-header>
                <ion-card-subtitle><ion-skeleton-text animated style="width: 97%; height: 16px;"></ion-skeleton-text></ion-card-subtitle>
                <ion-card-title><ion-skeleton-text animated style="width: 86%; height: 16px;"></ion-skeleton-text></ion-card-title>
                <ion-skeleton-text animated style="width: 72%; height: 16px;"></ion-skeleton-text>
              </ion-card-header>
            
              <ion-card-content>
                  <ion-skeleton-text animated style="width: 70%"></ion-skeleton-text>
                  <ion-skeleton-text animated style="width: 60%"></ion-skeleton-text>
                  <ion-skeleton-text animated style="width: 50%"></ion-skeleton-text>
              </ion-card-content>
            </ion-card>

            <ion-card class="custom-skeleton">
              <ion-thumbnail>
                  <ion-skeleton-text animated></ion-skeleton-text>
                </ion-thumbnail>
                   
                <ion-card-header>
                  <ion-card-subtitle><ion-skeleton-text animated style="width: 97%; height: 16px;"></ion-skeleton-text></ion-card-subtitle>
                  <ion-card-title><ion-skeleton-text animated style="width: 86%; height: 16px;"></ion-skeleton-text></ion-card-title>
                  <ion-skeleton-text animated style="width: 72%; height: 16px;"></ion-skeleton-text>
                </ion-card-header>
              
                <ion-card-content>
                    <ion-skeleton-text animated style="width: 70%"></ion-skeleton-text>
                    <ion-skeleton-text animated style="width: 60%"></ion-skeleton-text>
                    <ion-skeleton-text animated style="width: 50%"></ion-skeleton-text>
                </ion-card-content>
              </ion-card>

              <ion-card class="custom-skeleton">
                <ion-thumbnail>
                    <ion-skeleton-text animated></ion-skeleton-text>
                  </ion-thumbnail>
                     
                  <ion-card-header>
                    <ion-card-subtitle><ion-skeleton-text animated style="width: 97%; height: 16px;"></ion-skeleton-text></ion-card-subtitle>
                    <ion-card-title><ion-skeleton-text animated style="width: 86%; height: 16px;"></ion-skeleton-text></ion-card-title>
                    <ion-skeleton-text animated style="width: 72%; height: 16px;"></ion-skeleton-text>
                  </ion-card-header>
                
                  <ion-card-content>
                      <ion-skeleton-text animated style="width: 70%"></ion-skeleton-text>
                      <ion-skeleton-text animated style="width: 60%"></ion-skeleton-text>
                      <ion-skeleton-text animated style="width: 50%"></ion-skeleton-text>
                  </ion-card-content>
                </ion-card>
    </ion-list>
  </div>
  

 
    <ion-infinite-scroll threshold="100px" (ionInfinite)="moreNews($event)">
        <ion-infinite-scroll-content
          loadingSpinner="bubbles"
          loadingText="Loading more news...">
        </ion-infinite-scroll-content>
    </ion-infinite-scroll>

    <ion-fab vertical="bottom" horizontal="end" slot="fixed">
        <ion-fab-button>
          <ion-icon name="share"></ion-icon>
        </ion-fab-button>
      
        <ion-fab-list side="top">
          <ion-fab-button>
            <ion-icon name="logo-facebook"></ion-icon>
          </ion-fab-button>
          <ion-fab-button>
            <ion-icon name="logo-twitter"></ion-icon>
          </ion-fab-button>
          <ion-fab-button>
            <ion-icon name="logo-whatsapp"></ion-icon>
          </ion-fab-button>
        </ion-fab-list>     
    </ion-fab>

<a href="#">
  <p>App by ExceptionalDev</p>
  <img src="" />
</a>
</ion-content>
