
ion-fab{
    margin-right: 5px;
    margin-bottom: 5px;
}
ion-fab ion-fab-list ion-fab-button ion-icon{
    color: var(--ion-color-primary);
}
ion-list{
    background: none !important;
}
ion-card{
    --background: transparent !important;
}
ion-card.news{
    margin: 0;
    padding: 0;
    border-radius: 8px !important;
    max-height: 160px;
}
ion-slides{
    border-radius: 8px;
    height: 30%;
    width: 100%;
    padding: 0;
    margin: 0;
    background-size: cover;
    background: linear-gradient(transparent, rgba(0,0,0,1));
}
ion-slide{
    background: linear-gradient(transparent, rgba(0,0,0,1));
}
ion-refresher{
    background: #fefefe;
}
div.custom-skeleton{
    padding: 0;
    margin: 0;
    height: 200px;
}
div.custom-skeleton ion-thumbnail{
    width: 100%;
    margin: 0;
    padding: 0;
}
.custom-skeleton ion-skeleton-text {
    line-height: 12px;
    border-radius: 8px;
}
.custom-skeleton ion-skeleton-text:last-child {
  margin-bottom: 3px;
 }
div.catContainer{
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
    margin: 0;
    -webkit-overflow-scrolling: touch;
    &::-webkit-scrollbar{
        display: none
    } 
    .catSlide{
        background: rgba(255, 255, 255, 0.288);
        height: 100px;
        width: 110px;
        margin-left: 1px;
        display: inline-block;
        border-radius: 8px !important;
        box-shadow: 0 0 6px -3px grey;
    }
    .catSlide ion-card-header{
        font-size: 21px;
    } 
    .catSlide:hover{
        transition: all .2s ease-out;
        background: linear-gradient(45deg, #2dc0cc, #1aefb4);;
        color: #ffffff !important;
    }
    .catSlide:active{
        transition: all .2s ease-in-out;
        transform: scale(.9);
    }  
}
div.cta{
    position: absolute;
    text-align: left;
    text-overflow: ellipsis;
    bottom: -1px;
    padding-left: 10px;
    color: white;
    background: black;
    opacity: 0.7;
}
div.cta p{
    font-size: 0.8em;
    margin-top: 2px;
    margin-bottom: 4px;
    line-height: 1.3;
    width: 100%;
    white-space: normal;
    text-overflow: ellipsis;
}
ion-img{
    background-size: cover;
}
ion-icon.centIcon{
    display: block;
    margin: 10px auto;
}
ion-label.label{
    margin-bottom: 35px;
}
ion-label.label h4, ion-item.label h4{
    font-size: 1.1em;
    margin-top: .7em;
    margin-bottom: 0.3em;
}
ion-item.label{
    --padding-start: 0px;
    margin-right: -11px;
    
}
div.last-container{
    border-bottom: 0.2px solid #aaaaaa;
    margin-bottom: 40px;
}
p.date{
    margin-top: 8px;
    font-size: 15px;
    opacity: .8;
}


