<ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-back-button defaultHref="/category"></ion-back-button>
      </ion-buttons>
      <ion-title>Science News</ion-title>
    </ion-toolbar>
  </ion-header>
  
  <ion-content>
          <ion-refresher slot="fixed" (ionRefresh)="refresh($event)">
            <ion-refresher-content
            pullingIcon="arrow-dropdown"
            refreshingSpinner="bubbles">
          </ion-refresher-content>
          </ion-refresher>
      
        <ion-slides pager="true" [options]="slideOpt">
          <ion-slide>
            <ion-img src="../../assets/bg1.JPG"></ion-img>
          </ion-slide>
          <ion-slide>
              <ion-img src="../../assets/bg2.JPG"></ion-img>
          </ion-slide>
            <ion-slide>
                <ion-img src="../../assets/bg3.JPG"></ion-img>
            </ion-slide>
        </ion-slides>    
        <ion-list>
          <div *ngFor="let news of allNews" class="news-div">
            <ion-card *ngFor="let p of news.articles">
              <ion-img src="{{ p.urlToImage }}"></ion-img>     
                <ion-card-header>
                  <ion-card-subtitle>{{ p.author }}</ion-card-subtitle>
                  <ion-card-title>{{ p.title }}</ion-card-title>
                </ion-card-header>
              
                <ion-card-content>
                  {{ p.description }}
                  <ion-label class="usersAction"> 
                      <ion-icon slot="start" name="add" class="addIcon" (click)="addNews()"></ion-icon>
                      <ion-button (click)="readNews(p.url)" size="small" fill="outline">
                        Read
                      </ion-button>
                  </ion-label>
                </ion-card-content>
      
               
              </ion-card>
          </div>
          
        </ion-list>
        
      
       
          <ion-infinite-scroll threshold="100px" (ionInfinite)="moreHealthNews($event)">
              <ion-infinite-scroll-content
                loadingSpinner="bubbles"
                loadingText="Loading more news...">
              </ion-infinite-scroll-content>
          </ion-infinite-scroll>
      
          <ion-fab vertical="bottom" horizontal="end" slot="fixed">
              <ion-fab-button>
                <ion-icon name="share"></ion-icon>
              </ion-fab-button>
            
              <ion-fab-list side="top">
                <ion-fab-button>
                  <ion-icon name="logo-facebook"></ion-icon>
                </ion-fab-button>
                <ion-fab-button>
                  <ion-icon name="logo-twitter"></ion-icon>
                </ion-fab-button>
                <ion-fab-button>
                  <ion-icon name="logo-whatsapp"></ion-icon>
                </ion-fab-button>
              </ion-fab-list>     
          </ion-fab>
  </ion-content>
  