<ion-content>
  <div class="overlay"></div>
  <form>
    <ion-grid>
      <ion-row>
        <ion-col size="6">
            <ion-icon name="close" size="large" (click)="close()"></ion-icon>
        </ion-col>
        <ion-col size="6">
          <ion-avatar>
            <img src="../../assets/bg1.jpg" />
            <ion-icon name="camera" size="large" color="primary" class="add" (click)="choosePhoto()"></ion-icon>
          </ion-avatar>
         
        </ion-col>
      </ion-row>
    </ion-grid>

    <ion-item>
      <ion-label position="floating" color="primary">First name</ion-label>
      <ion-input type="text" [(ngModel)]="firstname" name="firstname"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating" color="primary">Last name</ion-label>
      <ion-input type="text"  [(ngModel)]="lastname" name="lastname"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating" color="primary">Description</ion-label>
      <ion-textarea type="text"  [(ngModel)]="desc" name="desc" maxlength="80"></ion-textarea>
    </ion-item>


    <ion-item>
        <ion-label position="floating" color="primary">Phone</ion-label>
        <ion-input type="tel"  [(ngModel)]="phoneNumber" name="phoneNumber"></ion-input>
      </ion-item>

    <ion-item>
      <ion-label position="floating" color="primary">Email Address</ion-label>
      <ion-input type="email"  [(ngModel)]="email" name="email"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating" color="primary">Website URL</ion-label>
      <ion-input type="text"  [(ngModel)]="url" name="url"></ion-input>
    </ion-item>

    <ion-button (click)="saveProfile()" shape="round" expand="block" mode="ios">
      <ion-icon slot="start" name="save"></ion-icon>
      Save
    </ion-button>
  </form>
</ion-content>