<ion-header>
  <ion-toolbar>

    <div class="mainLogo">
        <ion-avatar>
            <img [src]="image1" />
          </ion-avatar>
          <h1>SlideBox</h1>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen slot="fixed">
  <ion-card>
      <div class="signupContainer">
        <h3>SIGN IN</h3>
        <form [formGroup]="loginForm" padding>
            <ion-item>
              <ion-label position="stacked" color="secondary">Email</ion-label>
              <ion-input type="email" formControlName="email"></ion-input>
            </ion-item>

            <ion-item>
                <ion-label position="stacked" color="secondary">Password</ion-label>
                <ion-input type="password" formControlName="password"></ion-input>
            </ion-item>

            <ion-button (click)="signIn()" class="signInBtn" fill="block" shape="round" [disabled]="!loginForm.valid" mode="ios">
              <ion-ripple-effect type="bounded"></ion-ripple-effect>
              SIGN IN
            </ion-button>
          </form>
             <p>New User? <a href="" (click)="signUp()" class="signupText">Sign Up</a></p>
          </div>
  </ion-card>
</ion-content>
