ion-toolbar {
    --background: url('../../assets/neon.jpg')no-repeat center;
    background-size: cover;
    height: 180px;
    
}
ion-avatar{
    position: relative;
    bottom: 75px;
    z-index: 10;
    width: 120px;
    height: 120px;
    --border-radius: 50%;
    border: 5px solid #ffffff;
    margin: 0 auto;
}
ion-button{
    float: right;
    margin-top: 10px;
}
ion-text{
    position: relative;
    text-align: center;
    bottom: 75px;
}
ion-list{
    margin-top: -70px;
    border-radius: 8px;
}
ion-icon.userEdit{
    position: relative;
    z-index: 20;
    left: 35%;
    right: -10vw;
}
ion-icon{
    color: var(--ion-color-primary);
}
ion-label{
    float: right;
    text-align: right;
}
ion-toolbar{
    color: #ffffff;
}
ion-content{
    background: linear-gradient(270deg, transparent, rgba(0,0,0,1));
}
.fade{
    opacity: 0;
}