<ion-header no-border>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-back-button defaultHref="/main"></ion-back-button>
      </ion-buttons>
      <ion-title>Profile</ion-title>
    </ion-toolbar>
  </ion-header>

  

<ion-content fullscreen scrollEvents="true" (ionScroll)="scrolling($event)">
  <div class="header">
    <ion-avatar [class.fade]="fadeImage">
      <img src="../../assets/icon/favicon.png" />
    </ion-avatar>

    <ion-text>
      <h3>{{ lastName }} {{ firstName }}</h3>
      <p>{{ descritption }}</p>
    </ion-text>
  </div>
      
  <ion-list lines="none" padding>
      <ion-item>
          <ion-icon slot="start" name="md-person" ></ion-icon>
        <ion-label>{{ lastName }} {{ firstName }}</ion-label>
      </ion-item>
      <ion-item>
          <ion-icon slot="start" name="md-call"></ion-icon>
          <ion-label>{{ phone }}</ion-label>
        </ion-item>
      <ion-item>
          <ion-icon slot="start" name="md-mail"></ion-icon>
          <ion-label>{{ mailAddress }}</ion-label>
        </ion-item>

        <ion-item>
            <ion-icon slot="start" name="md-globe" ></ion-icon>
            <ion-label>{{ webUrl }}</ion-label>
          </ion-item>
  </ion-list>
  <ion-button (click)="editProfile()" fill="outline" shape="round" mode="ios" padding>
    <ion-ripple-effect type="bounded"></ion-ripple-effect>
    <ion-icon slot="start" name="md-create"></ion-icon>
    Edit
  </ion-button>

</ion-content>
